#banner {
    height: 15%;
    width: 100%;
    text-align: center;
    background-color: #262272;
    color: white;
    padding: 1rem 0;
}

#btn-menu {
    margin: 5% 20%;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
}

.table {
    margin: 5% 20% 2% 20%;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}

th, td{
    border: 2px solid #626060;
}

footer {
    text-align: center;
}