#banner {
    height: 15%;
    width: 100%;
    text-align: center;
    background-color: #262272;
    color: white;
    padding: 1rem 0;
}

#btn-menu {
    padding: 3% 20% 1% 20%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
}

.table {
    padding: 0 20%;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}

th, td{
    border: 2px solid #626060;
}

footer {
    text-align: center;
}